<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name">Cart</h1>
					
				</div>
			</div>
		</div>
	</div>
</section>
<div class="page-wrapper">
  <div class="cart shopping">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="block">
            <div class="product-list">
              <form method="post">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="">Item Name</th>
                      <th class="">Item Price</th>
                      <th class="">Quantity </th>
                    
                    </tr>
                  </thead>
                  <tbody>
                  	<% @product_details.each do |product| %>
                    <tr class="">
                      <td class="">
                        <a href="#!"><%= product.product.title %></a>
                        <div class="product-info">
                          <%= image_tag product.product.image_url, class: 'card-img-top p-1',style:'width: 120px;' %>
                        </div>
                      </td>
                      <td class=""><%=product.product_price%></td>
                      <td class=""><%=product.quantity%></td>
                      <td class="">                    
                      </td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
                <%= button_to 'Payment', root_path, class: 'btn btn-sm btn-success ml-2', id: '#modelFavouriteProductModel', remote: true  %>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


